# .git (carpeta del repositorio git)
.git/

# .idea (carpeta de configuración de IntelliJ IDEA)
.idea/

# __pycache__ (carpeta de archivos de caché de Python)
__pycache__/

# venv (carpeta de entorno virtual de Python)
venv/

#Saco este archivo porque es muy pesado para git
assets/FluidR3_GM.sf2